*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#itensLevados{
    padding-bottom: 20px;
}

form{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    color: black;
    font-weight: bold;
}
.imgCarla{
    width: 200px;
    height: 300px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    padding: 10px;
}

.btnSubmit{
    width: 100px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 100px;
    color: black;
    border: none;
}

.btnSubmit:hover{
    background-color: black;
    color: greenyellow;
}